<% content_for(:title, "List | To Do") %>



<h1><%= @list.name %></h1>

<h4><%= @list.description %></h4>

<p>
  <%= link_to "edit", edit_list_path(@list) %>
</p>

<p>
  <%= link_to "delete", list_path(@list),
                        :data => {:confirm => "For real?",
                        :method => "delete"} %>
</p>



<p>
  <%= link_to "Return to Lists", lists_path %>
</p>
